.title {
    position: static;
    height: 90px;
}

.screen {
    outline: solid black;
    height: 700px;
    width: 1500px;
    position: static;
    bottom: 0px;
    background-image: url(Museum.jpg);
    background-repeat: no-repeat;
    background-position: top 66% left;
    background-size: 101.8% 180%;
}

.video {
    z-index: 5;
    padding-right: 701px;
    padding-bottom: 45px;
    position: static 10px;
}

.toolTips {
    color:aliceblue;
    text-align: right;
    font-size:xx-large;
    padding-top: 20px;
    height: 680px;
    width: 1500px;
    position: static 10px;
    z-index: 7;
    background-image: url(Tooltips.png), url(Tooltips2.png);
    background-size: auto, auto;
    background-position: left, right;
    background-repeat: no-repeat;
    background-position-y: top;
}