.title {
    position: static;
    height: 90px;
}

.screen {
    outline: solid black;
    height: 700px;
    width: 1500px;
    position: static;
    bottom: 0px;
    background-image: url(Museum.jpg);
    background-repeat: no-repeat;
    background-position: top 58.5% left;
    background-size: 101.8% 180%;
}

.frame {
    z-index: 1;
    height: 500px;
    position: fixed;
}

.video {
    z-index: 5;
    padding-right: 701px;
    position: static 10px;
}

.toolTips {
    color:aliceblue;
    text-align: center;
    font-size:xx-large;
    padding-top: 20px;
    height: 680px;
    width: 350px;
    position: static 10px;
    z-index: 7;
    background-image: url(TooltipsExtra.png);
}
