.title {
    position: static;
    height: 0px;
}

.screen {
    outline: solid black;
    height: 700px;
    width: 1500px;
    position: static;
    bottom: 0px;
    background-image: url(Museum.jpg);
    background-repeat: no-repeat;
    background-position: top 66% left;
    background-size: 101.8% 180%;
}

.video {
    padding-top: 98.5px;
    z-index: 5;
    padding-right: 701px;
    padding-bottom: 45px;
    position: static 10px;
}

.toolTips {
    color:aliceblue;
    text-align: right;
    font-size:xx-large;
    padding-top: 20px;
    height: 680px;
    width: 1500px;
    position: static 10px;
    z-index: 7;
    background-image: url(Tooltips.png), url(Tooltips2.png);
    background-size: auto, auto;
    background-position: left, right;
    background-repeat: no-repeat;
    background-position-y: top;
}

.mostRecentWord {
    width: 1500px;
    padding-top: 20px;
    position: static;
    display: inline;
}

.botharms {
    height: 100px;
    width: 1500px;
    z-index: 9;
    position: static 10px;
    background-image: url(TooltipsHighlight.png), url(TooltipsHighlight.png);
    background-size: auto;
    background-position: top 56px left 26px, top 56px right 700px;
    background-repeat: no-repeat;
    background-size: 22%;
}

.circles {
    height: 54px;
    width: 1500px;
    z-index: 9;
    position: static 10px;
    background-image: url(TooltipsHighlight.png), url(TooltipsHighlight.png);
    background-size: auto;
    background-position: top 9px left 26px, top 9px right 700px;
    background-repeat: no-repeat;
    background-size: 22%;
}

.clearcanvas {
    height: 59px;
    width: 1500px;
    z-index: 9;
    position: static 10px;
    background-image: url(TooltipsHighlight.png), url(TooltipsHighlight.png);
    background-size: auto;
    background-position: top 15px left 26px, top 15px right 700px;
    background-repeat: no-repeat;
    background-size: 22%;
}

.draw {
    height: 54px;
    width: 1500px;
    z-index: 9;
    position: static 10px;
    background-image: url(TooltipsHighlight.png), url(TooltipsHighlight.png);
    background-size: auto;
    background-position: top 10px left 26px, top 10px right 700px;
    background-repeat: no-repeat;
    background-size: 22%;
}

.eraser {
    height: 60px;
    width: 1500px;
    z-index: 9;
    position: static 10px;
    background-image: url(TooltipsHighlight.png);
    background-size: auto;
    background-position: top 10px left 26px;
    background-repeat: no-repeat;
    background-size: 22%;
}

.fill {
    height: 60px;
    width: 1500px;
    z-index: 9;
    position: static 10px;
    background-image: url(TooltipsHighlight.png);
    background-size: auto;
    background-position: top 6px left 26px;
    background-repeat: no-repeat;
    background-size: 22%;
}

.fireworks {
    height: 50px;
    width: 1500px;
    z-index: 9;
    position: static 10px;
    background-image: url(TooltipsHighlight.png);
    background-size: auto;
    background-position: top 3px left 26px;
    background-repeat: no-repeat;
    background-size: 22%;
}

.hideshowtips {
    height: 54px;
    width: 1500px;
    z-index: 9;
    position: static 10px;
    background-image: url(TooltipsHighlight.png);
    background-size: auto;
    background-position: top 9px left 26px;
    background-repeat: no-repeat;
    background-size: 22%;
}

.hideshowvideo {
    height: 56px;
    width: 1500px;
    z-index: 9;
    position: static 10px;
    background-image: url(TooltipsHighlight.png);
    background-size: auto;
    background-position: top 12px left 26px;
    background-repeat: no-repeat;
    background-size: 22%;
}

.lowerraiseopacity {
    height: 54px;
    width: 1500px;
    z-index: 9;
    position: static 10px;
    background-image: url(TooltipsHighlight.png);
    background-size: auto;
    background-position: top 10px left 26px;
    background-repeat: no-repeat;
    background-size: 22%;
}

.onearm {
    height: 56px;
    width: 1500px;
    z-index: 9;
    position: static 10px;
    background-image: url(TooltipsHighlight.png);
    background-size: auto;
    background-position: top 12px left 26px;
    background-repeat: no-repeat;
    background-size: 22%;
}